<?php
/**
 * @var \Magenest\KnockoutJs\Block\Account\CustomLogin $block
 * @var \Magento\Framework\Escaper $escaper
 */
$dataPostParam = '';
?>
<?php
if (!$block->isLoggedIn()) { ?>
    <button class="custom-login">
        <li class="link authorization-link login-authorization" data-label="<?= $escaper->escapeHtml(__('or')) ?>">
            <a <?= $dataPostParam ?>> <?php echo __('Log in') ?></a>
        </li>
    </button>
<?php } else { ?>
    <button class="custom-login">
        <li class="header_account_link_list">
            <a class="header_account_link"
               href="<?php echo $this->getUrl("customer/account/logout"); ?>"><?php echo __('Log out') ?></a>
        </li>
    </button>
<?php }
?>

