<?php /** @var $block \Magenest\Blog\Block\Index **/
$posts = $block->getBlogCollection();
?>

<style>
    .blog-table {
        border-collapse: collapse;
        width: 100%;
    }
    .blog-table th, .blog-table td {
        border: 1px solid #ddd;
        padding: 8px;
    }
    .blog-table th {
        background-color: #f2f2f2;
        text-align: left;
    }
    .button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 8px;
    }
    .button-edit {
        background-color: #008CBA; /* Blue */
    }
    .button-delete {
        background-color: #f44336; /* Red */
    }
    .button-add {
        background-color: #4CAF50; /* Green */
    }
</style>

<table class="blog-table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Author Name</th>
        <th>Title</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <?php foreach ($posts as $post): ?>
        <tr>
            <td><?= $post->getId() ?></td>
            <td><?= $post->getData('author_username') ?></td>
            <td><?= $post->getTitle() ?></td>
            <td><?= $post->getStatus() ?></td>
            <td>
                <button class="button button-edit" onclick="location.href='<?= $block->getUrl('blog/index/edit', ['id' => $post->getId()]) ?>'">Edit</button>
                <button class="button button-delete" onclick="if(confirm('Are you sure you want to delete this post?')) location.href='<?= $block->getUrl('blog/index/delete', ['id' => $post->getId()]) ?>'">Delete</button>
            </td>
        </tr>
    <?php endforeach; ?>
    </tbody>
</table>

<button class="button button-add" onclick="location.href='<?= $block->getUrl('blog/index/create') ?>'">Add New Post</button>
