<?php
/**@var $block Magenest\Blog\Block\Index**/
$blogCollection = $block->getBlogCollection();
?>
<div class="blog-list">
    <?php foreach ($blogCollection as $blog): ?>
        <div class="blog-item">
            <h2><?php echo $blog->getTitle(); ?></h2>
            <p><strong>Author:</strong> <?php echo $blog->getAuthorUsername(); ?></p>
            <p><?php echo $blog->getDescription(); ?></p>
        </div>
    <?php endforeach; ?>
</div>
