<?php
/** @var $block \Magenest\Blog\Block\View **/
$post = $block->getPost();
?>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Author Name</th>
        <th>Title</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><?= $post->getId() ?></td>
        <td><?= $post->getData('author_username') ?></td>
        <td><?= $post->getTitle() ?></td>
        <td><?= $post->getStatus() ?></td>
    </tr>
    </tbody>
</table>
