<!--<div class="field customfield">-->
<!--    <label class="label" for="customfield"><span>--><?php ///* @escapeNotVerified */ echo __('Custom Field') ?><!--</span></label>-->
<!--    <div class="control">-->
<!--        <input type="text" name="customfield" value="--><?php //echo $block->getCustomfieldValue() ?><!--" title="--><?php ///* @escapeNotVerified */ echo __('Custom Field') ?><!--" id="customfield" class="input-text" >-->
<!--    </div>-->
<!--</div>-->
<div class="field customfield">
    <label class="label"><span><?php /* @escapeNotVerified */ echo __('Region') ?></span></label>
    <div class="control">
        <label>
            <input type="radio" name="customfield" value="1"> Miền Bắc
        </label>
        <label>
            <input type="radio" name="customfield" value="2"> Miền Trung
        </label>
        <label>
            <input type="radio" name="customfield" value="3"> Miền Nam
        </label>
    </div>
</div>
