<div class="actions">
    <button type="submit"
            title="<?= /* @escapeNotVerified */ $buttonTitle ?>"
            class="action primary tocart"
            id="product-addtocart-button">
        <span><?= /* @escapeNotVerified */ $buttonTitle ?></span>
    </button>
    <?= $block->getChildHtml('', true) ?>
    <a class="primary action" href="<?= $_product->getCustomLink() ?>"><?= __('Custom Button') ?></a>
</div>
