<?php
/** @var \Magenest\Movie\Block\Image $block */
//?>

<div class="field avatar required">
    <h1>Name: <?php echo $block->getNameCustomer() ?></h1>
    <h1>Email: <?php echo $block->getEmailCustomer()?></h1>
    <h1>Phone:
    <?php
    $phoneNumbers = $block->getPhoneCustomer();
    if (!empty($phoneNumbers)) {
        foreach ($phoneNumbers as $phone) {
            echo $block->escapeHtml($phone['telephone']);
        }
    } else {
        echo $block->escapeHtml("No phone numbers found");
    }
    ?>
    </h1>
    <img src="<?php echo $block->getBaseUrl()."media/customer".$block->getCustomerImage(); ?>" alt="">
</div>
<script type="text/javascript">
    require(['jquery'], function($) {
        $('#avatar').on('change', function() {
            if (this.files && this.files[0]) {
                var id = '#img-avatar';
                var img = document.querySelector(id);
                img.src = URL.createObjectURL(this.files[0]);
                img.href = URL.createObjectURL(this.files[0]);
                $('#img-avatar').attr('href', URL.createObjectURL(this.files[0]));
                img.alt = this.files[0].name;
                $(this).parent().children('.file-uploader-preview').addClass('mediaReview');
            }
        });
    })
</script>
<style>
    .file-uploader-preview {
        display: none !important;
    }
    .mediaReview {
        display: block !important;
    }
</style>
























<!--<!-- app/code/Magenest/Movie/view/frontend/templates/customer/image.phtml -->-->
<?php
///** @var \Magenest\Movie\Block\Image $block */
//?>
<!--<div class="block block-dashboard-info">-->
<!--    <div class="block-title"><strong>--><?php //= $block->escapeHtml(__('Account Information Customer')) ?><!--</strong></div>-->
<!--    <div class="block-content">-->
<!--        <div class="box box-information">-->
<!--            <div class="box-content">-->
<!--                <p>-->
<!--                    --><?php //if($block->getCustomerImage() != false){ ?>
<!--                        <img src="--><?php //= $block->getCustomerImage() ?><!--" alt="image" /><br>-->
<!--                    --><?php //} ?>
<!--                    --><?php //= $block->escapeHtml("Full name: " . $block->getName()) ?><!--<br>-->
<!--                    --><?php //= $block->escapeHtml("Email: " . $block->getCustomer()->getEmail()) ?><!--<br>-->
<!--                    --><?php //= $block->escapeHtml("Customer Group: " . $block->getCustomerGroup()) ?><!--<br>-->
<!--                </p>-->
<!--                --><?php //= $block->getChildHtml('customer.account.dashboard.info.extra'); ?>
<!--            </div>-->
<!--        </div>-->
<!--        --><?php //= $block->getChildHtml('additional_blocks'); ?>
<!--    </div>-->
<!--</div>-->
