<!-- File: view/frontend/templates/blog/list.phtml -->
<?php
$collection = $block->getBlogCollection();
?>
<div class="blog-list">
    <div class="blog-list-header">
        <a href="<?= $block->escapeUrl($block->getAddNewUrl()) ?>" class="action primary">
            <?= __('Add New Blog') ?>
        </a>
    </div>
    <?php if ($collection->getSize() > 0): ?>
        <table class="data table blog-table" id="blog-list-table">
            <thead>
            <tr class="blog-table-header">
                <th><?= __('Title') ?></th>
                <th><?= __('Description') ?></th>
                <th><?= __('Url Rewrite') ?></th>
                <th><?= __('Action') ?></th>
            </tr>
            </thead>
            <tbody>
            <?php foreach ($collection as $blog): ?>
                <tr>
                    <td><?= $block->escapeHtml($blog->getTitle()) ?></td>
                    <td><?= $block->escapeHtml($blog->getDescription()) ?></td>
                    <td><?= $block->escapeHtml($blog->getUrlRewrite()) ?></td>
                    <td><a href="<?= $block->escapeUrl($block->getViewUrl($blog)) ?>"><?= __('Read more') ?></a></td>
                </tr>
            <?php endforeach; ?>
            </tbody>
        </table>
    <?php else: ?>
        <p><?= __('No blogs found.') ?></p>
    <?php endif; ?>
</div>
