<!-- File: view/frontend/templates/blog_add.phtml -->
<form action="<?= $block->getUrl('movie/blog/save') ?>" method="post" id="edit_form" enctype="multipart/form-data" data-mage-init='{"validation":{}}'>
    <fieldset class="fieldset">
        <legend class="legend"><span><?= $block->escapeHtml(__('Blog Information')) ?></span></legend>
        <div class="field">
            <label class="label" for="title"><span><?= $block->escapeHtml(__('Title')) ?></span></label>
            <div class="control">
                <input name="title" id="title" title="<?= $block->escapeHtmlAttr(__('Title')) ?>" value=""
                       class="input-text" type="text" data-validate="{required:true}">
            </div>
        </div>
        <div class="field">
            <label class="label" for="author_id"><span><?= $block->escapeHtml(__('Author')) ?></span></label>
            <div class="control">
                <select name="author_id" id="author_id" class="select" data-validate="{required:true}">
                    <?php foreach ($block->getAuthorOptions() as $option): ?>
                        <option value="<?= $block->escapeHtmlAttr($option['value']) ?>">
                            <?= $block->escapeHtml($option['label']) ?>
                        </option>
                    <?php endforeach; ?>
                </select>
            </div>
        </div>
        <div class="field">
            <label class="label" for="description"><span><?= $block->escapeHtml(__('Description')) ?></span></label>
            <div class="control">
                <textarea name="description" id="description" title="<?= $block->escapeHtmlAttr(__('Description')) ?>"
                          class="textarea"></textarea>
            </div>
        </div>
        <!-- Trường mới cho URL Rewrite -->
        <div class="field">
            <label class="label" for="url_rewrite"><span><?= $block->escapeHtml(__('Url Rewrite')) ?></span></label>
            <div class="control">
                <input name="url_rewrite" id="url_rewrite" title="<?= $block->escapeHtmlAttr(__('Url Rewrite')) ?>"
                       class="input-text" type="text" data-validate="{required:true}">
            </div>
        </div>
        <div class="field">
            <label class="label" for="content"><span><?= $block->escapeHtml(__('Content')) ?></span></label>
            <div class="control">
                <textarea name="content" id="content" title="<?= $block->escapeHtmlAttr(__('Content')) ?>"
                          class="textarea" data-validate="{required:true}"></textarea>
            </div>
        </div>
        <div class="field">
            <label class="label" for="status"><span><?= $block->escapeHtml(__('Status')) ?></span></label>
            <div class="control">
                <select name="status" id="status" class="select">
                    <option value="1"><?= $block->escapeHtml(__('Enabled')) ?></option>
                    <option value="0"><?= $block->escapeHtml(__('Disabled')) ?></option>
                </select>
            </div>
        </div>
    </fieldset>
    <div class="form-actions">
        <div class="actions">
            <button class="action-default scalable save primary" type="submit"
                    title="<?= $block->escapeHtmlAttr(__('Save Blog')) ?>">
                <span><?= $block->escapeHtml(__('Save Blog')) ?></span>
            </button>
        </div>
    </div>
</form>
