<?php /** @var \Magenest\Movie\Block\Frontend\DeliveryTimeCart $block */ ?>
<div class="delivery-time-info">
    <strong>Thời gian giao hàng:</strong>
    <span>ergergreg</span>
    <span><?php echo $block->escapeHtml($block->getDeliveryTime()); ?></span>
</div>
