<!-- File: app/code/Vendor/DeliveryTime/view/frontend/templates/product/delivery_time.phtml -->
<?php /** @var \Magenest\Movie\Block\Frontend\DeliveryTime $block */ ?>
<div class="delivery-time-options">
    <label for="delivery_time">Chọn thời gian giao hàng:</label>
    <select id="delivery_time" name="delivery_time">
        <option value="same_day">Giao hàng trong ngày</option>
        <option value="choose_date">Khách hàng tự chọn ngày giao hàng</option>
    </select>
    <div id="custom_date" style="display: none;">
        <label for="custom_delivery_date">Chọn ngày:</label>
        <input type="date" id="custom_delivery_date" name="custom_delivery_date">
    </div>
</div>

<script>
    require(['jquery'], function($){
        $('#delivery_time').change(function(){
            if($(this).val() == 'choose_date'){
                $('#custom_date').show();
            } else {
                $('#custom_date').hide();
            }
        });
    });
</script>
