<div class="field phone_number required">
    <label class="label" for="phone_number">
        <span><?= $block->escapeHtml(__('Phone number')) ?></span>
    </label>
    <div class="control">
        <input type="text" name="phone_number" id="phone_number" value=""
               title="<?= $block->escapeHtmlAttr(__('Phone number')) ?>" class="input-text"
               data-validate="{required:true}">
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#phoneNumberInput').on('keyup', function () {
            var value = $(this).val();
            if (value.length > 0 && value.charAt(0) !== '0') {
                value = value.substring(1);
                $(this).val(value);
            }
        });
    });
</script>
