<script type="text/javascript">
    require([
        'jquery',
        'Magento_Ui/js/modal/modal'
    ], function($, modal){
        var options = {
            type: 'popup',
            responsive: true,
            innerScroll: true,
            title: 'Special Offer Popup',
            buttons: [{
                text: $.mage.__('Close'),
                class: '',
                click: function () {
                    this.closeModal();
                }
            }]
        };
        var popup = modal(options, $('#yourmodule-popup'));
        $('#yourmodule-popup').modal('openModal');
    });
</script>

<div id="yourmodule-popup" style="display: none;">
    <?php echo $block->getColorGroupConfig(); ?>
</div>
