    <?php
    /**
     * @var $block Magenest\Helloworld\Block\Posts
     */

    $data = $block->getDataFromModel();
    $director=$block->getDirectorsCollection();
    $actor=$block->getActorsCollection();

    $moviesCollection = $block->getMoviesWithDirectorsAndActors();
    ?>

    <?php if (!empty($data)): ?>
        <h1 style="text-align: center;">Danh sách phim</h1>
        <div style="margin: 0 auto; width: 80%;">
            <table style="width: 100%; border-collapse: collapse; border: 1px solid #000; text-align: center;">
                <thead style="background-color: #f2f2f2;">
                <tr>
                    <th style="padding: 10px;">ID</th>
                    <th style="padding: 10px;">Tên phim</th>
                    <th style="padding: 10px;">Mô tả</th>
                    <th style="padding: 10px;">Điểm đánh giá</th>
                    <th style="padding: 10px;">Tên Đạo diễn</th>
                </tr>
                </thead>
                <tbody>
                <?php foreach ($data as $item): ?>
                    <tr>
                        <td style="padding: 10px; border: 1px solid #000;"><?= $item->getId(); ?></td>
                        <td style="padding: 10px; border: 1px solid #000;"><?= $item->getName(); ?></td>
                        <td style="padding: 10px; border: 1px solid #000;"><?= $item->getDescription(); ?></td>
                        <td style="padding: 10px; border: 1px solid #000;"><?= $item->getRating(); ?></td>
                        <td style="padding: 10px; border: 1px solid #000;"> <?php
                            // Call the getDirectorNameById() method from the block class
                            echo $block->getDirectorNameById($item->getDirectorId());
                            ?></td>
                    </tr>
                <?php endforeach; ?>
                </tbody>
            </table>
        </div>
    <?php else: ?>
        <p style="text-align: center;">Không có dữ liệu.</p>
    <?php endif; ?>

    <?php if (!empty($data)): ?>
        <h1 style="text-align: center;">Danh sách Director</h1>
        <div style="margin: 0 auto; width: 80%;">
            <table style="width: 100%; border-collapse: collapse; border: 1px solid #000; text-align: center;">
                <thead style="background-color: #f2f2f2;">
                <tr>
                    <th style="padding: 10px;">ID</th>
                    <th style="padding: 10px;">Name</th>
                </tr>
                </thead>
                <tbody>
                <?php foreach ($director as $item): ?>
                    <tr>
                        <td style="padding: 10px; border: 1px solid #000;"><?= $item->getId(); ?></td>
                        <td style="padding: 10px; border: 1px solid #000;"><?= $item->getName(); ?></td>
                    </tr>
                <?php endforeach; ?>
                </tbody>
            </table>
        </div>
    <?php else: ?>
        <p style="text-align: center;">Không có dữ liệu.</p>
    <?php endif; ?>
    <?php if (!empty($data)): ?>
        <h1 style="text-align: center;">Danh sách Actor</h1>
        <div style="margin: 0 auto; width: 80%;">
            <table style="width: 100%; border-collapse: collapse; border: 1px solid #000; text-align: center;">
                <thead style="background-color: #f2f2f2;">
                <tr>
                    <th style="padding: 10px;">ID</th>
                    <th style="padding: 10px;">Name</th>

                </tr>
                </thead>
                <tbody>
                <?php foreach ($actor as $item): ?>
                    <tr>
                        <td style="padding: 10px; border: 1px solid #000;"><?= $item->getId(); ?></td>
                        <td style="padding: 10px; border: 1px solid #000;"><?= $item->getName(); ?></td>
                    </tr>
                <?php endforeach; ?>
                </tbody>
            </table>
        </div>
    <?php else: ?>
        <p style="text-align: center;">Không có dữ liệu.</p>
    <?php endif; ?>
    <?php if ($moviesCollection->getSize() > 0): ?>
        <h1 style="text-align: center;">List of Movies with Directors and Actors</h1>
        <div style="margin: 0 auto; width: 80%;">
            <table style="width: 100%; border-collapse: collapse; border: 1px solid #000; text-align: center;">
                <thead style="background-color: #f2f2f2;">
                <tr>
                    <th style="padding: 10px;">Movie Name</th>

                    <th style="padding: 10px;">Actor Names</th>
                </tr>
                </thead>
                <tbody>
                <?php foreach ($moviesCollection as $movie): ?>
                    <tr>
                        <td style="padding: 10px; border: 1px solid #000;"><?= $movie->getData('movie_name'); ?></td>
                        <td style="padding: 10px; border: 1px solid #000;"><?= $movie->getData('actor_names'); ?></td>
                    </tr>
                <?php endforeach; ?>
                </tbody>
            </table>
        </div>
    <?php else: ?>
        <p>No movies with directors and actors found.</p>
    <?php endif; ?>

