<div id="color-selector">
    <select data-bind="options: colors, value: selectedColor"></select>
</div>

<script type="text/javascript">
    require(['jquery', 'knockout'], function ($, ko) {
        var colorString = <?php echo json_encode($block->getColorGroupConfig()); ?>;
        var colors = colorString ? colorString.split(',') : [];

        var viewModel = {
            colors: ko.observableArray(colors),
            selectedColor: ko.observable(),
            changeColor: function() {
                $('body').css('background-color', this.selectedColor());
            }
        };

        // Biến để kiểm tra đã áp dụng bindings hay chưa
        var alreadyApplied = false;

        // Kiểm tra và áp dụng bindings
        if (!alreadyApplied) {
            ko.applyBindings(viewModel, document.getElementById('color-selector'));
            alreadyApplied = true;
        }

        // Theo dõi sự thay đổi của selectedColor
        viewModel.selectedColor.subscribe(function(newColor) {
            $('body').css('background-color', newColor);
        });
    });
</script>
