#custom-login .custom-login{
    background-color: lightgreen;
}
#custom-login .form-login {
    justify-content: center;
    display: flex;
    margin-bottom: 30px;
}
#custom-login .form-login .fieldset {
    background-color: ghostwhite;
    padding: 50px;
}
.modal-footer {
    display: none;
}
#custom-login legend.legend {
    padding-bottom: 10px;
    font-size: 30px;
}
button.custom-login li {
    list-style: none;
    padding: 5px 20px;
}
.popup-authentication .block[class] {
    padding: 20px !important;
}
.block-authentication {
    background: cadetblue;
}

